# ─── Server ───────────────────────────────────────────────────
NODE_ENV=development
PORT=3000

# ─── Database (Local) ──────────────────────────────────────────
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=marvellousobatale
DB_NAME=postgres

# ─── Production (Render Database) ─────────────────────────────
# Set these variables in the Render Dashboard
# DATABASE_URL is auto-injected by Render when you link a Postgres DB.
# It is the PREFERRED connection method on Render.
DATABASE_URL=
PORT_PROD=dpg-d77qtiadbo4c73av7u6g-a
DATABASE_PROD=walletsimulationdb
USERNAME_PROD=walletsimulationdb_user
PASSWORD_PROD=CgvQ4GYk0A12JIQom42Hiyn15Fo8i4f0
INTERNAL_DATABASE_URL_PROD=postgresql://walletsimulationdb_user:CgvQ4GYk0A12JIQom42Hiyn15Fo8i4f0@dpg-d77qtiadbo4c73av7u6g-a/walletsimulationdb
EXTERNAL_DATABASE_URL_PROD=postgresql://walletsimulationdb_user:CgvQ4GYk0A12JIQom42Hiyn15Fo8i4f0@dpg-d77qtiadbo4c73av7u6g-a.oregon-postgres.render.com/walletsimulationdb


# ─── Auth (JWT) ───────────────────────────────────────────────
JWT_SECRET="cjjcdjalekdnasjeorjndjerlwde"
JWT_SECRET_PROD=cjjcdjalekdnasjeorjndjerlwde
JWT_ISSUER=wallet-api
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ─── Upstash QStash (EDA) ───────────────────────────
# Get these credentials from https://console.upstash.com/qstash
QSTASH_URL="https://qstash-eu-central-1.upstash.io"
QSTASH_TOKEN="eyJVc2VySUQiOiJjOWQ0M2Q0ZS03N2FlLTRlMWQtYTViZi05MzRhYzAwZTE4MWIiLCJQYXNzd29yZCI6ImFmNjk3Njg5ZDg5MjRkNzRhZTA0NTYxNjI3ZjQ4MmFiIn0="
QSTASH_CURRENT_SIGNING_KEY="sig_6HMnhHjhBAjzz1SSna8dNSYEFfnq"
QSTASH_NEXT_SIGNING_KEY="sig_7wLtojJq95kApvH2PABozgKRUp3E"

# ─── App Public URL ───────────────────────────────────────────
# Use ngrok for local testing of QStash callbacks
APP_BASE_URL=http://localhost:3000